---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
    <span class="post-comments"><small><a href="{{ post.url }}/#disqus_thread">Комментарии</a></small></span>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/archive/{{paginator.next_page}}/">Назад</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="/archive/{{paginator.previous_page}}/">Вперед</a>
  {% endif %}
</div>
